<div class="container">
  <div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="assets/images/store/s10plus.jpg">
          <span class="card-title">Samsung Galaxy S10+</span>
        </div>
        <div class="card-content">
          <p><b>Precio: </b>$1000</p>
        </div>
        <div class="card-action">
          <a>Comprar</a>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="assets/images/store/p30pro.jpg">
          <span class="card-title">Huawei P30 Pro</span>
        </div>
        <div class="card-content">
          <p><b>Precio: </b>$1000</p>
        </div>
        <div class="card-action">
          <a>Comprar</a>
        </div>
      </div>
    </div>
  </div>
</div>
